# Assignment 11

## Imports

In [6]:
# Packages
import pandas as pd
from xgboost import XGBRegressor
from fastapi import FastAPI
from pydantic import BaseModel
from sklearn.model_selection import train_test_split

In [7]:
# Load data and get in lags for the last six months
df = pd.read_csv('monthly-car-sales.csv')
for i in range(1, 7):
    df[f'Sales_M_{i}'] = df['Sales'].shift(i)
df.head(8)

,Month,Sales,Sales_M_1,Sales_M_2,Sales_M_3,Sales_M_4,Sales_M_5,Sales_M_6
0,1960-01,6550,NaN,NaN,NaN,NaN,NaN,NaN
1,1960-02,8728,6550.0,NaN,NaN,NaN,NaN,NaN
2,1960-03,12026,8728.0,6550.0,NaN,NaN,NaN,NaN
3,1960-04,14395,12026.0,8728.0,6550.0,NaN,NaN,NaN
4,1960-05,14587,14395.0,12026.0,8728.0,6550.0,NaN,NaN
5,1960-06,13791,14587.0,14395.0,12026.0,8728.0,6550.0,NaN
6,1960-07,9498,13791.0,14587.0,14395.0,12026.0,8728.0,6550.0
7,1960-08,8251,9498.0,13791.0,14587.0,14395.0,12026.0,8728.0

## Model

In [8]:
# Train test split
df = df.dropna().reset_index(drop=True)
X = df.drop(columns=['Month', 'Sales'])
y = df['Sales']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
# Train model
xgb = XGBRegressor(random_state=42)
xgb.fit(X_train, y_train)
y_pred_xgb = xgb.predict(X_test)

In [10]:
# Save model
xgb.get_booster().save_model("model/model.json")